
@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<label>Adiniz</label>
<input type="text" class="form-control" />
<br />
<label>Soyadiniz</label>
<input type="text" class="form-control" />
<br />
<label>Mesleginiz</label>
<input type="text" class="form-control" />
<br />
<label>Sehir Seciniz</label>
<input type="text" class="form-control" />
<br />

<button class="btn btn-primary">Kisiyi Ekle</button>
<br />