
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h2>Kullanici Listesi</h2>
<br/>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Sehir</th>
        <th>Sil</th>
        <th>Guncelle</th>
        <th>Detaylar</th>
    </tr>
    <tr>
        <th>1</th>
        <td>Enes</td>
        <td>Ertas</td>
        <td>Istanbul</td>
        <td><a href="#" class-="btn btn-danger">Sil</a></td>
        <td><a href="#" class-="btn btn-success">Guncelle</a></td>
        <td><a href="#" class-="btn btn-warning">Detaylar</a></td>
    </tr>
    <tr>
        <th>2</th>
        <td>Ece</td>
        <td>Aslan</td>
        <td>Izmir</td>
        <td><a href="#" class-="btn btn-danger">Sil</a></td>
        <td><a href="#" class-="btn btn-success">Guncelle</a></td>
        <td><a href="#" class-="btn btn-warning">Detaylar</a></td>
    </tr>
    <tr>
        <th>3</th>
        <td>Ipek</td>
        <td>Gulsen</td>
        <td>Ankara</td>
        <td><a href="#" class-="btn btn-danger">Sil</a></td>
        <td><a href="#" class-="btn btn-success">Guncelle</a></td>
        <td><a href="#" class-="btn btn-warning">Detaylar</a></td>
    </tr>
</table>


